In [16]:
# interchanging firt and last element;-
a=[1,2,3,4,5,6,7,8,9,10]
b=a[0]
for i in range(1):
    a[0]=a[-1]
    a[-1]=b
    print(a)

[10, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [24]:
# interchanging firt and last element;-
f=["apple","mango","orange"]
b=f[0]
for i in range(1):
    f[0]=f[-1]
    f[-1]=b
    print(f)

['orange', 'mango', 'apple']

In [34]:
# length of list
a=[1,2,3,4,5,6,7,8,9,0]
c=0
for i in a:
    c=c+1
print(c)

10

In [9]:
# another way to find length of the list
a=[1,2,3,4,5,6,7,8,9,0]
print(len(a))

10

In [1]:
# checking  that input item is exist or not exist
a=[1,2,3,4,5,6,7,8,9,0]
b=int(input("enter the num :"))
for i in range(1):
    if(b in a):
        print(b,"is exist")
    else:
        print(b,"is not exist")

enter the num :8
8 is exist

In [76]:
#clear the list
a=[1,2,3,4,5,6,7,8,9,0]
for i in range(1):
    a.clear()
    print(a)

[]

In [77]:
a=[1,2,3,4,5,6,7,8,9,0]
a.remove(5)
print(a)

[1, 2, 3, 4, 6, 7, 8, 9, 0]

In [78]:
a=[1,2,3,4,5,6,7,8,9,0]
a.pop(3)
print(a)

[1, 2, 3, 5, 6, 7, 8, 9, 0]

In [1]:
# print the list in reverse order
a=["m","u","t","h","u"]
for i in range(1):
    a.reverse()
    print(a)

['u', 'h', 't', 'u', 'm']

In [3]:
# sum of the elements in the list
a=[1,2,3,4,5,6,7,8,9,0]
sum=0
for i in a:
    sum=sum+i
print(sum)

45

In [6]:
# multiplication
a=[1,2,3,4,5,6,7,8,9]
multiply=1
for i in a:
    multiply=multiply*i
print(multiply)

362880

In [13]:
# find minimum value in a list
a=[4,2,7,0,2,1,6,8,5]
small=a[0]
for i in a:
    if(small>i):
        small=i
print(small)

0

In [14]:
# find maximum value in a list
a=[4,2,7,0,2,1,6,8,5]
big=a[0]
for i in a:
    if(big<i):
        big=i
print(big)

8

In [56]:
# find the first & second largest number:-
a=[42,4,1,3,5,6433,6734436,4322353,3,2,6,34634,4389]
b=a[0]
larandsecondlar=[]
for i in a:
    if(b<i or b>i):
        b=i
        larandsecondlar.append(b)
        larandsecondlar.sort()
print(larandsecondlar[-1])
print(larandsecondlar[-2])

6734436
4322353

In [53]:
# find the second largest number:-
a=[42,4,1,3,5,6433,6734436,4322353,3,2,6,34634,4389]
for i in range(1):
    a.sort()
print(a[-2])

4322353

In [134]:
# find even numbers in a list:-
a=[42,4,1,3,5,6433,6734436,4322353,3,2,6,34634,4389]
b=[]
for i in a:
    if(i%2==0):
        print(i)
        b.append(i)
        b.sort()
print(b)

42
4
6734436
2
6
34634
[2, 4, 6, 42, 34634, 6734436]

In [135]:
# find the odd numbers:-
a=[42,4,1,3,5,6433,6734436,4322353,3,2,6,34634,4389]
b=[]
for i in a:
    if(i%2!=0):
        print(i)
        b.append(i)
        b.sort()
print(b)

1
3
5
6433
4322353
3
4389
[1, 3, 3, 5, 4389, 6433, 4322353]

In [58]:
# find the even numbers:-
a=int(input("enter the number"))
b=int(input("enter the number"))
for i in range(a,b+1):
    if(i%2==0):
        print(i,"is even numbar")

enter the number1
enter the number20
2 is even numbar
4 is even numbar
6 is even numbar
8 is even numbar
10 is even numbar
12 is even numbar
14 is even numbar
16 is even numbar
18 is even numbar
20 is even numbar

In [122]:
# find the odd numbers:-
a=int(input("enter the number"))
b=int(input("enter the number"))
for i in range(a,b+1):
    if (i%2!=0):
        print(i,"is odd numbar")

enter the number1
enter the number20
1 is odd numbar
3 is odd numbar
5 is odd numbar
7 is odd numbar
9 is odd numbar
11 is odd numbar
13 is odd numbar
15 is odd numbar
17 is odd numbar
19 is odd numbar

In [280]:
# find the negative values in a list:-
a=[-5,-4,-3,-2,-1,0,1,2,3,4,5]
for i in a:
    if(i<=-1):
        print(i)

-5
-4
-3
-2
-1

In [126]:
#find the positive value in a list:-
a=[-5,-4,-3,-2,-1,0,1,2,3,4,5]
for i in a:
    if(i>=0):
        print(i)

0
1
2
3
4
5

In [205]:
# first and second large values:-
a=[42,4,1,3,5,6433,6734436,4322353,3,2,6,34634,4389]
lar=a[0]
seclar=a[0]
for i in a:
    if(seclar<i):
        seclar=i
        a.remove(lar)
        for i in a:
            if(lar<i):
                lar=i
print(lar)
print(seclar)

6734436
4322353

In [232]:
# find the second largest number:-
a=[42,4,1,3,5,6433,6734436,4322353,3,2,6,34634,4389]
maxi1=a[0]
maxi2=a[0]
maxi3=a[0]
for i in a:
    if(maxi1<i):
        maxi1=i
a.remove(maxi1)
for i in a:
    if(maxi2<i):
        maxi2=i
a.remove(maxi2)
for i in a:
    if(maxi3<i):
        maxi3=i
a.remove(maxi3)
print(maxi1)
print(maxi2)
print(maxi3)

6734436
4322353
34634

In [251]:
#remove the empty list in a given list:-
a=[-5,-4,-3,-2,-1,0,[],1,2,3,[],4,5]
for i in a:
    if(i==[]):
        a.remove(i)
print(a)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

In [252]:
#remove the empty tuple in a given list:-
a=[-5,-4,-3,-2,(),-1,0,[],1,2,3,[],4,(),5]
for i in a:
    if(i==()):
        a.remove(i)
print(a)

[-5, -4, -3, -2, -1, 0, [], 1, 2, 3, [], 4, 5]

In [253]:
# cloning the list:-
a=[-5,-4,-3,-2,-1,0,[],1,2,3,[],4,5]
for i in a:
    if(i in a):
        b=a
print(a)
print(b)

[-5, -4, -3, -2, -1, 0, [], 1, 2, 3, [], 4, 5]
[-5, -4, -3, -2, -1, 0, [], 1, 2, 3, [], 4, 5]

In [254]:
# cloning the list:-
a=[-5,-4,-3,-2,-1,0,[],1,2,3,[],4,5]
b=[]
clone=0
for i in a:
    if(i in a):
        clone=i
    b.append(clone)
print(a)
print(b)

[-5, -4, -3, -2, -1, 0, [], 1, 2, 3, [], 4, 5]
[-5, -4, -3, -2, -1, 0, [], 1, 2, 3, [], 4, 5]

In [281]:
a=[3,4,5,7,8,0,8,7,6,5,4,3,2,1]
b=a[0]
c=[]
for i in a:
    if(i==i):
        b=i
        c.append(b)
print(c)

[3, 4, 5, 7, 8, 0, 8, 7, 6, 5, 4, 3, 2, 1]