In [6]:
def calc():
    print(2+3)
    print("hello")
calc()
calc()
calc()

5
hello
5
hello
5
hello

In [14]:
def calc(a,b):
    print(a+b)
calc(2,3) 
calc(2,3,4)
calc(2)

5

TypeError: calc() takes 2 positional arguments but 3 were given

In [18]:
def calc(a,b):
    print(a+b)
calc("h",1)

TypeError: can only concatenate str (not "int") to str

In [17]:
def calc(a,b):
    print(a+b)
calc("h","hello")

hhello

In [4]:
def calculator(num1,oper="+",num2=2):
    if (oper=="+"):
        print(num1+num2)
    elif (oper=="-"):
        print(num1-num2)
    elif (oper=="*"):
        print(num1*num2)
    elif (oper=="%"):
        print(num1%num2)
    else:
        print("oper not exist")

In [5]:
calculator(1,"-",3)

-2

In [32]:
calculator(28,"/",23)

oper not exist

In [38]:
calculator(28,"*",23)

644

In [6]:
def country(city="madurai"):
    print(city)
country("mysore")
country()

mysore
madurai

In [51]:
country("chennai")
country()

chennai
madurai

In [49]:
calculator(2)

4

In [53]:
def ret(a,b):
     return a+b
val=ret(2,3)
print("sum is",val)

sum is 5

In [1]:
def sum1(a,b):
    print(a*b)

In [2]:
inp=sum1(3,6)
print(inp)

18
None

In [3]:
#arbitary arguments:-
def name(*child):
    print(child)

In [66]:
name("ram","raj","kumar")

('ram', 'raj', 'kumar')

In [68]:
def name(*child):
    for i in child:
          print(i)

In [71]:
name("h","j","e","k","q","g")

h
j
e
k
q
g

In [72]:
def child(child1,child3,child2):
    print(child1,child2,child3)

In [73]:
#arbitory arguments using key value
child(child1="ram",child2="raju",child3="kumar")

ram raju kumar

In [77]:
def child(**child):
    print(child)

In [79]:
child(child1="raj",child2="ram",child3="guru")

{'child1': 'raj', 'child2': 'ram', 'child3': 'guru'}

In [9]:
def ret(a,b):
    print(a+b)

In [10]:
ret(2,3)

5

In [11]:
def ret(a,b):
    print(a+b)

In [12]:
val=ret(2,3)
print(val)

5
None

In [13]:
num=print(1+2)

3

In [14]:
print(num)

None