In [2]:
# inteview questions:-

a=10
def total():
    global a
    print(a+10)
    a=a+10
total()
print(a)

20
20

In [7]:
#normal conditions:-

if 10>5 :
    print("yes")
else:
    print("no")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [3]:
# ternary:-

print("yes") if 10>5 else print("no")
print("yes") if 2>5 else print("no")

yes
no

In [14]:
# shallow copy:-
import copy

li1=[1,2,[3,4],5,6]
print(li1)

li2=copy.copy(li1)
print(li2)

li2[2][0]=7
print(li1)
print(li2)

[1, 2, [3, 4], 5, 6]
[1, 2, [3, 4], 5, 6]
[1, 2, [7, 4], 5, 6]
[1, 2, [7, 4], 5, 6]

In [15]:
# deep copy:-
import copy

li1=[1,2,[3,4],5,6]
print(li1)

li2=copy.deepcopy(li1)
print(li2)

li2[2][0]=7
print(li1)
print(li2)

[1, 2, [3, 4], 5, 6]
[1, 2, [3, 4], 5, 6]
[1, 2, [3, 4], 5, 6]
[1, 2, [7, 4], 5, 6]

In [16]:
# fibonacci series(0,1,1,2,3,5,8,13,21):-

In [4]:
# palindrom (mom)-----(ex:- 323 and 434 etc....):-
print("print("muthu")")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (767109029.py, line 2)

In [15]:
import copy

a = [1,2,3,4]
b = a
print(a)
print(b)
a.append(5)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]