In [4]:
import datetime

x=datetime.datetime.now()
print(x)
print(x.year)
print(x.strftime("%A"))

2023-05-10 09:05:25.138635
2023
Wednesday

In [7]:
import datetime
print(x.strftime("%a"))
print(x.strftime("%w"))
print(x.strftime("%m"))

Wed
3
05

In [8]:
import datetime

x=datetime.datetime(2023,5,9)
print(x)

2023-05-09 00:00:00

In [11]:
x=min(5,10,25)
y=max(5,10,25)
print(x)
print(y)

5
25

In [12]:
import math
x=math.sqrt(64)
print(x)

8.0

In [19]:
import json

x='{"name":"muthu","age":24,"city":"bang"}'
y=json.loads(x)
print(y["age"])

24

In [29]:
import json

x={
    "name":"muthu",
    "age":24,
    "city":"bang"
}
y=json.dumps(x)
print(y)

{"name": "muthu", "age": 24, "city": "bang"}

In [31]:
print(a)

NameError: name 'a' is not defined

In [33]:
try:
    print(a)
except:
    a=10
print(a)

10
10

In [34]:
try:
    print(a
except:
    a=10
print(a)

SyntaxError: '(' was never closed (1333398550.py, line 2)

In [36]:
try:
    print=int(input("enter the number :"))
except:
    print=input("only integers allowed :")

enter the number :muthu
only integers allowed :100

In [8]:
try:
    print=int(input("enter the number :"))
except:
    print=input("only integers allowed :")
finally:
    print("thats good")

enter the number :h
only integers allowed :7

TypeError: 'str' object is not callable

In [40]:
x=-1

if x <0:
    raise Exception("soryy boss")

Exception: soryy boss

In [42]:
x="hi"
if not type(x) is int:
    raise TypeError("its not int")

TypeError: its not int

In [9]:
# swapcase :-

st = "muthu"
st.swapcase()

'MUTHU'