In [1]:
# To find the name is exist or not :-

a=["muthu","raj","guru","jay","k muthu"]
b=input("Enter the name here : ")
print(" ")
for i in a:
    if(b in a):
        print("Name is exist.....!")
        break
    else:
        print("Name not exist......!")
        break

Enter the name here : muthu

Name is exist.....!

In [ ]:
st = input("string")
 
freq = {}
for i in st:
    if i in freq:
        print("true",freq)
        freq[i] += 1
    else:
        print("false",freq)
        freq[i] = 1
result = max(freq , key = freq.get)
print(result)

In [ ]:
# finding second largest :- 
num=[1,2,9,1,3,4,5,6,7,8]
num.remove(max(num))
sl=max(num)
print(sl)
num.sort()
print(num)

In [ ]:
num=[1,43,2,9,1,3,4,5,33,21,54,6,7,8]
maxi=a[0]
for i in num:
    if (maxi<i):
        maxi=i
num.remove(maxi)
print(maxi)
print(num)

In [ ]:
num=[1,43,2,9,1,3,4,5,33,21,54,6,7,8]
num.sort()
first_largest_number = num.pop()
print(first_largest_number)
print(num)

In [ ]:
num=[43,2,9,1,3,4,5,33,21,54,6,7,8]
num.sort()
for i in range(len(num)):
    f=num.pop()
    if(i==0):
        print(i+1,"'st biggest number",f)
    elif(i==1):
        print(i+1,"'nd biggest number",f)
    elif(i==2):
        print(i+1,"'rd biggest number",f)
    else:
        print(i+1,"'th biggest number",f)

In [ ]:
no=int(input("which one biggest number do you want : "))
num=[1,43,2,9,1,3,4,5,33,21,54,6,7,8]
num.sort()
for i in range(no):
    f=num.pop()
print(f)

In [ ]:
no=int(input("which one smalest number do you want : "))
num=[1,43,2,9,3,4,5,33,21,54,6,7,8]
num.sort()
print(num[no-1])

In [5]:
# key accessing in dictionary :-
a={
    "name":1,
    "age":2,
    "native":3
}
r =min(a,key = a.get)
print(r)

name

In [6]:
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [10]:
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

In [49]:
for i in range(1,5):
        print(i)

1
2
3
4

In [19]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    
    print("\n")

Enter number of rows: 5
1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [25]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 10
                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *