In [4]:
#tuple:-

a=(10,20,40,30,1)
print(type(a))
print(len(a))
print(list(a))
print(tuple(a))

<class 'tuple'>
5
[10, 20, 40, 30, 1]
(10, 20, 40, 30, 1)

In [8]:
a=(10,20,40,30,1)
print(a[1])
print(a[0:3])

20
(10, 20, 40)

In [12]:
a=(10,20,40,30,1)
del(a)
print(a)

NameError: name 'a' is not defined

In [11]:
a=(10,20,40,30,1)
b=(10,20,30)
c=a+b
print(c)

(10, 20, 40, 30, 1, 10, 20, 30)

In [13]:
#unpacking
a=(10,20,30)
b,c,d=a

print(b,c,d)

10 20 30

In [14]:

#set:- we can't acces

s={10,20,1,5,7,11}
s.add(50)
print(s)

{1, 50, 20, 5, 7, 10, 11}

In [15]:
s={10,20,1,5,7,11}
s.add(67)
print(s)

{1, 67, 20, 5, 7, 10, 11}

In [16]:
s={10,20,1,5,7,11}
s.add(73)
print(s)

{1, 20, 5, 7, 73, 10, 11}

In [17]:
s={10,20,1,5,7,11}
s.add(80)
print(s)

{80, 1, 20, 5, 7, 10, 11}

In [19]:
a={10,1,1,55,7,10,10}
a=set(a)
print(a)
print(type(a))
print(len(a))

{1, 10, 55, 7}
<class 'set'>
4

In [20]:
x={10,20,1,5}
y={10,1,7,6,}
x.update(y)
print(x)

{1, 5, 6, 7, 10, 20}

In [21]:
y={10,1,7,6,}
y.remove(10)
print(y)

{1, 6, 7}

In [22]:
y={10,1,7,6,}
y.remove(6)
print(y)

{1, 10, 7}

In [23]:
y={10,1,7,6,}
y.remove(55)
print(y)

KeyError: 55

In [25]:
y={10,1,7,6,}
y.discard(55)
print(y)

{1, 10, 6, 7}

In [27]:
y={10,1,7,6,}
y.discard(100)
print(y)

{1, 10, 6, 7}

In [28]:
y={10,1,7,6,}
y.pop()
print(y)

{10, 6, 7}

In [32]:
y={10,7,6}
y.pop()
print(y)

{6, 7}

In [30]:
y={10,1,7,6}
y.pop()
print(y)

{10, 6, 7}

In [33]:
y={10,1,7,6}
y.clear()
print(y)

set()

In [35]:
y={10}
del(y)
print(y)

NameError: name 'y' is not defined

In [40]:
A={10,40,1,7,8,50}  
B={10,40,33,30,8}
C=A.union(B)
A.update(B)
print(C)
print(A)

{1, 33, 7, 40, 8, 10, 50, 30}
{1, 33, 7, 40, 8, 10, 50, 30}

In [41]:
A={10,40,1,7,8,50}  
B={10,40,33,30,8}
C=A.intersection(B)
A.intersection_update(B)
print(C)
print(A)

{40, 8, 10}
{40, 8, 10}

In [43]:
#dic

d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
print(d)

{'name': 'raj', 'age': 24, 'location': 'bangalore', 1: 'good number', 'cars': ['benz', 'shift', 'audi']}

In [62]:
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
print(d["name"])
print(d[1])
print(len(d))
print(type(d))
print(d["car"])

raj
good number
5
<class 'dict'>

KeyError: 'car'

In [63]:
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d["name"]="ravi"
print(d)

{'name': 'ravi', 'age': 24, 'location': 'bangalore', 1: 'good number', 'cars': ['benz', 'shift', 'audi']}

In [53]:
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }

new_data={"company":"wipro",
          "salaary":"20k"
         }
d.update(new_data)
print(d)

{'name': 'raj', 'age': 24, 'location': 'bangalore', 1: 'good number', 'cars': ['benz', 'shift', 'audi'], 'company': 'wipro', 'salaary': '20k'}

In [56]:
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d.pop("name")

print(d)

{'age': 24, 'location': 'bangalore', 1: 'good number', 'cars': ['benz', 'shift', 'audi']}

In [58]:
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d.popitem()
print(d)

{'name': 'raj', 'age': 24, 'location': 'bangalore', 1: 'good number'}

In [59]:
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d.popitem()
print(d)

{'name': 'raj', 'age': 24, 'location': 'bangalore', 1: 'good number'}

In [60]:
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d.clear()
print(d)

{}

In [61]:
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
del(d)
print(d)

NameError: name 'd' is not defined

In [66]:
#nested dictionary:-

myfamily={
    "child1" :{
    "name":"Emil",
     
    "year":2004},
    
    "child2":{
        "name":"tobias",
        "year":2007},
    
    "child3":{
        "name":"linus",
        "year":2011}
    }
print(myfamily["child1"])

{'name': 'Emil', 'year': 2004}

In [67]:
print(myfamily["child1"]["name"])

Emil

In [69]:
myfamily["child1"]["name"]="raju"
print(myfamily)

{'child1': {'name': 'raju', 'year': 2004}, 'child2': {'name': 'tobias', 'year': 2007}, 'child3': {'name': 'linus', 'year': 2011}}

In [70]:
myfamily["child3"]["year"]=2023
print(myfamily)

{'child1': {'name': 'raju', 'year': 2004}, 'child2': {'name': 'tobias', 'year': 2007}, 'child3': {'name': 'linus', 'year': 2023}}