In [46]:
class en:
    __c=30
    def __init__(self):
        self.__b=10
        print("hi")
    
    def __one(self):
        print("value :",self.__b)
        
    def two(self):
        self.__one()
        print("public")
        
ob=en()
ob._en__one()
ob.two()
print(ob._en__c)

hi
value : 10
value : 10
public
30

In [4]:
# method overloading.......
class parent:
     def fun(self,a=None,b=None,c=None):
            if a!=None and b!=None and c!=None :
                print("value :",a+b+c)
            elif a!=None and b!=None :
                print("value :",a+b)
            else:
                print("value :",a)
      
ob=parent()
ob.fun(1)

value : 1

In [39]:
class p:
    def fun(self,*args):
        sum=0
        for i in args:
            sum +=i
        print(sum)
ob=p()
ob.fun(1,2,3,4,5,6,7,8,9)

45

In [37]:
# operator overloading.............
class p:
    
    def __init__(self,a):
        self.a=a
        print("parent class")
        
    def __add__(self,other):
        return self.a+other.b
class c:
    def __init__ (self,b):
        self.b=b
        print("child class")
        
op=p(1)
oc=c(34567)
print("value",op+oc)

parent class
child class
value 34568

In [61]:
import module

module.fun()

ModuleNotFoundError: No module named 'module'

In [88]:
import datetime

x=datetime.datetime.now()
print(x)
print(x.year)
print(x.strftime("%W"))

2023-07-28 19:00:02.237146
2023
30

In [8]:
d=hex(a)
print(d)

0x12d687

In [11]:
a=123+1234j
print(a.real)
print(a.imag)

123.0
1234.0

In [12]:
a="""this is " muthu """
print(a)

this is " muthu

In [13]:
b="""this "python" dfgh """
print(b)

this "python" dfgh

In [16]:
a=212345.234
print(complex(a))

(212345.234+0j)

In [24]:
a=[12,34,5,7,6,43,34]
b=bytes(a)
print(type(b))
print(b[0])
for i in a:
    print(i)

<class 'bytes'>
12
12
34
5
7
6
43
34

In [25]:
a={}
a[0]="muthu"
a[1]="raj"
print(a)

{0: 'muthu', 1: 'raj'}

In [42]:
s="muthurg \v bdiheif"
print(s)

muthurg  bdiheif

In [44]:
print(10&6)

2

In [46]:
print(bin(10))

0b1010

In [49]:
print(10^12)

6

In [54]:
print(~10)

-11

In [69]:
print(~12)

-13

In [67]:
print(bin(12))

0b1100

In [68]:
a=0b0011
print(int(a))

3

In [72]:
print((2**3) + (2**5))

40

In [73]:
a+=10
print(a)

13

In [47]:
a="5"+5
print(a)

TypeError: can only concatenate str (not "int") to str

In [81]:
a=10
a=10
print(a)

100

In [98]:
a=12345
b=12345
x="TURE" if a<b else "FALSE"
print(x)
print(b in  a)

FALSE

TypeError: argument of type 'int' is not iterable

In [103]:
a=["muthu", "raj"]
b="muthu"
print(b not in a)

False

In [106]:
import math
print(math.sqrt(10))
print(math.pi)

3.1622776601683795
3.141592653589793

In [113]:
a,b,c=[int(x)for x in input("enter 2 num").split(",")]
print(a+b)

enter 2 num3,6,5
9

In [117]:
a,s,d=[int(x) for x in input("enter three numbers").split(",")]
print(a,s,d)

enter three numbers12,543,345
12 543 345

x=input(12*234%234+23)
print(x)

In [128]:
# x=(input("enter"))
# print(x)z

enter2345+234
2345+234

In [134]:
print("muthu \n kumar")
print("muthu \t kumar")
print("muthu"*10)

muthu
 kumar
muthu 	 kumar
muthumuthumuthumuthumuthumuthumuthumuthumuthumuthu

In [2]:
a=123+345j
print(a.real)
print(a.imag)

123.0
345.0

In [76]:
rows = 5
for i in range(1,6):
    for j in range(0,i):
        print("I", end=' ')
    print('')

I
I I
I I I
I I I I
I I I I I

muthu alphin

In [15]:
print(a[-5])

l

In [9]:
print(a[1:4])

uth

In [24]:
a=20
print(float(a))
print(str(a))
print(bool(a))

20.0
20
True

In [27]:
a=''
print(bool(a))

False

In [35]:
print(~11)

-12

In [49]:
from math import sqrt

print(math.sqrt(5))

import math

2.23606797749979

In [45]:
a="muthu \ raj "
print(a)

muthu '' raj

In [62]:
def myfuncn():
    b=10
    print(a)
myfuncn()
a=123
print(b)
print(a)

123
123
123

In [63]:
def alphin():
    global a
    a=10
alphin()
print(a)

10

In [73]:
import random
print(random,random range(1,20))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1071745303.py, line 2)

In [75]:
print(5)

5

In [77]:
a="muthu,raj alphin"
print(a.split(","))

['muthu', 'raj alphin']

In [83]:
a=12
a1=123
tx="im {} dfghj {}".format(a,a1)
print(tx)

im 12 dfghj 123

In [81]:
a="im {}".format(10)
print(a)

im 10

In [1]:
a=['muthu']
print(type(a))

<class 'list'>

In [3]:
b=('muthu',)
print(type(b))

<class 'tuple'>

In [9]:
# im exist my code here

print("my _code")

my _code

In [13]:
a="muthu"
print(a)
print("a")
muthu="raj"
print(muthu)

muthu
a
raj

In [32]:
a="muthu alphin"

print(a.split('n'))

['muthu alphi', '']

In [25]:
a=["muthu","alphin"]

print(a.replace(u,p))

AttributeError: 'list' object has no attribute 'replace'

In [34]:
a=24
print("my age is {}".format(234))

my age is 234

In [41]:
a = 3
b = 567
c = 49.95
myorder = "I want {} pieces of item {} for {} dollars.".format(a,b,123)
print(myorder)

I want 3 pieces of item 567 for 123 dollars.

In [20]:
we=["sun","mon","tue","wed","thur","fri","sat"]
wed1=[]

def wed(w):
    for i in we:
        wed1.append(i+"-")
wed(we)
print(wed1)

['sun-', 'mon-', 'tue-', 'wed-', 'thur-', 'fri-', 'sat-']

In [26]:
weekdays = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']

def convertToString(weekdays):
    joined_string = ' - '.join(weekdays)
    print(joined_string) 

convertToString(weekdays)

sun - mon - tue - wed - thu - fri - sat

In [61]:
a="muthu"
b="u"
print(b in a)

['apple', 'blackcurrant', 'cherry']

In [19]:
# 

weekdays = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']

def str_joining(Parameter):
    
    answer = "-".join(Paramater)
    
    return answer

result=fun(weekdays)

print(result)

sun-mon-tue-wed-thu-fri-sat

In [69]:
a = ["apple", "banana", "cherry"]
b = a
print(b)

['apple', 'banana', 'cherry']

In [70]:
b[1]="dfghj"
print(b)

['apple', 'dfghj', 'cherry']

In [71]:
print(a)

['apple', 'dfghj', 'cherry']

In [72]:
b=a.copy()
print(b)

['apple', 'dfghj', 'cherry']

In [73]:
b[1]="banana"
print(b)

['apple', 'banana', 'cherry']

In [74]:
print(a)

['apple', 'dfghj', 'cherry']

In [79]:
a=[1,2,3,4]
b=[5,6,7,8]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [80]:
a.append(b)
print(a)

[1, 2, 3, 4, [5, 6, 7, 8]]

[1, 2, 3, 4, [5, 6, 7, 8, 9], 5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [84]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list2.index(list1)

ValueError: ['a', 'b', 'c'] is not in list

In [8]:
t=("muthu" ,"ghfjd")
d =("hj",)
print(t+d)

('muthu', 'ghfjd', 'hj')

In [12]:
del t
print(t)

NameError: name 't' is not defined

In [27]:
a = ("apple", "banana", "cherry")
print(count(a))

NameError: name 'count' is not defined

In [25]:
a=(1,2,3,4,5,6)
b={2,3,4,2,8}
c=(1,2,3,4,5,6,7,8,9,2,3,8,90)
g,h,j,k,*l=c
print(l)

[5, 6, 7, 8, 9, 2, 3, 8, 90]

In [34]:
a = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(a["brand"])

Ford

In [14]:
print(a)

{'model': 'Mustang', 'year': 1964}

In [88]:
a.popitem("year")

TypeError: dict.popitem() takes no arguments (1 given)

In [8]:
print(a)
del a("brand")

SyntaxError: cannot delete function call (2521453349.py, line 2)

In [86]:
a.pop("model")

'Mustang'

In [87]:
print(a)

{'brand': 'Ford', 'year': 1964}

In [7]:
a={1,2,3,4,5,6,7,8,9,0}
a.pop()

0

In [40]:
a=10
b=23

print("1") if a>b  else print("3")

3

In [49]:
i=1
while i<10:
    print(i)
    if i==5:
        break
    i=i+1

1
2
3
4
5

#

In [8]:
i=0
while i<10:
    i+=1
    if i==9 or i==3:
        continue
    print(i)

1
2
4
5
6
7
8
10

In [9]:
a=[1,2,3,4,5,6,7,8,9]
for i in range(len(a)):
    print(i)

0
1
2
3
4
5
6
7
8

In [10]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
def fun(*name):
    print("this is {}".format(name[2]))
fun("muhtu","kumar","raj","rai")

this is raj

In [21]:
def fun(**name):
    print("this is {}".format(name["name2"]))
fun(name2="muthu",name1="raj",name3="kumar")

this is muthu

In [28]:
def fun():
    return 5*5
fun()

25

NameError: name 'tri_recursion' is not defined

In [32]:
a=lambda a,b,c: a+b+c
print(a(1,2,3))

6

In [33]:
import numpy
a=[1,2,3,4,5]
print(type(a))

<class 'list'>

In [47]:
class parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def fun(self,val):
        print("my age is {}".format(self.age),val)
        
    def fu(self):
        print("my name is {}".format(self.name))
    
o1=parent("muthu",24)
o1.fun(12)
o2=parent("muthu",24)
o2.fu()

my age is 24 12
my name is muthu

In [61]:
class parent:
    def sub(self):
        self.a=10
        self.b=20
        print(self.a+self.b)
    def sub(self):
        super().__init__()
        print("welcome")
obj=parent()
obj.sub()

AttributeError: 'super' object has no attribute 'sub'

In [49]:
class p:
    def __init__(self,a):
        self.a=a
        
    def __sub__(self,other):
        return self.a-other.b
        
class c:
    def __init__(self,b):
        self.b=b  
   
o=p(1)
o1=c(2)
print("value : ",o-o1)

value :  -1

In [34]:
import re
txt = "The rain in Spain"
x = re.search("The",txt)
print(x.str())

AttributeError: 're.Match' object has no attribute 'str'

In [39]:
import re
txt = "The rain in Spain"
x = re.sub("\s","|",txt,5)
print(x)

The|rain|in|Spain

In [51]:
x = 10

if x < 0:
  raise TypeError("Sorry, no numbers below zero")
  print("yes")
else:
    print("no")

no

In [46]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

In [55]:
price=1234
discount=123
txt="the original price is {1:.2f} and discount price is {0}".format(price,discount)
print(txt)

the original price is 123.00 and discount price is 1234

In [101]:
import json

# some JSON:
x =  { "name":"John", "age":30, "city":"New York"}

# parse x:
y = json.dumps(x)

# the result is a Python dictionary:
print(y)
print(type(y))
print(type(x))

{"name": "John", "age": 30, "city": "New York"}
<class 'str'>
<class 'dict'>

In [146]:
f=open("C:/Users/ELCOT/Documents/python projects/tutorial link.txt","r")

In [147]:
print(f.read())

now you got the access


yeah now you got the idea

In [148]:
f.close()

In [179]:
f=open("C:/Users/ELCOT/Documents/python projects/tutorial link.txt","r")

In [164]:
print(f.write(""" 2345678901234567890 """))

21

In [166]:
print(f.read())

 hey man super perfect man  hey man super perfect man asdfghjwertyucv  2345678901234567890

In [175]:
f.close()

In [216]:
import os
os.remove('C:/Users/ELCOT/Documents/python projects/summa file/summa.txt')

In [217]:
os.rmdir('C:/Users/ELCOT/Documents/python projects/summa file')

In [76]:
#(Q-No :3) Merging two dictionaries (a and b).The result dict must contain all item of both dict ,
# if the key is common then the value of key in resultant dict must be sum of value in a and b :
 
a = {'x': 1, 'y': 2, 'z': 3}
b = {'a': 4, 'b': 5, 'y': 6}

def dictMerge(a, b):
    result = {}

    # Using Dict a :
    for key, value in a.items():
        result[key] = result.get(key, 0) + value
        
    # Using Dict B :
    for key, value in b.items():
        result[key] = result.get(key, 0) + value
       
    
    return result

result_dict = dictMerge(a, b)
print(result_dict)

a = {'sun':1, 'mon':2,'wed':1}
b = {'sun':1, 'mon':2,'wed':1}
m={}
for k,v in a.items():
    if(k not in m):
        m[k]=v
for k,v in b.items():
    if(k in m):
        m[k]=m[k]+v
    else:
        m[k]=k
print(m)

{'x': 1, 'y': 8, 'z': 3, 'a': 4, 'b': 5}
{'sun': 2, 'mon': 4, 'wed': 2}

In [43]:
#(Q-No :4) Return the item with highest value count:-

items = [{'Delhi': 3}, {'Mumbai': 9}, {'Goa': 7}, {'Gujrat': 4}]

def item_with_high_value(Parameter):
    max_value = 0
    max_item = None

    for i in items:
        for key, value in i.items():
            if value > max_value:
                max_value = value
                max_item = key
    
    return max_item

result = item_with_high_value(items)
print(result)

Mumbai

In [44]:
#(Q-No :5) Group by the owner :-

def group_by_owners(Parameter):
    owners_dict = {}
    
    for file, owner in files.items():
        if owner in owners_dict:
            owners_dict[owner].append(file)
        else:
            owners_dict[owner] = [file]
    
    return owners_dict

files = {
    'Input.txt': 'Randy',
    'Code.py': 'Stan',
    'Output.txt': 'Randy'
}
result = group_by_owners(files)
print(result)

{'Randy': ['Input.txt', 'Output.txt'], 'Stan': ['Code.py']}

In [20]:
# Count the occurrences of a particular element in the list and output highest occuring element :-

days = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sun', 'mon', 'mon']

def Max_occuring_str(Paramater):
    dic = {}
    no_of_time = 0
    day = None
    for i in days:
        if i in dic:
            dic[i] += 1
        else:
            dic[i] =1
        
        if dic[i] > no_of_time:
            no_of_time = dic[i]
            day = i
    return day

result = Max_occuring_str(days)

print(result)

mon

In [22]:
#(Q-No : 1 ) Join items of a given list using "-" and print the string :-

weekdays = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']

def str_joining(Parameter):
    
    answer = "-".join(Parameter)
    return answer
    
result = str_joining(weekdays)
print(result)

sun-mon-tue-wed-thu-fri-sat

In [6]:
a = {'x': 3, 'y': 2, 'z': 8}
b={}
for key,value in a.items():
    if(value not in b):
        b[value]=key
print(b)

{3: 'x', 2: 'y', 8: 'z'}

In [7]:
print(b.keys())

dict_keys([3, 2, 8])

In [8]:
print(b.items())

dict_items([(3, 'x'), (2, 'y'), (8, 'z')])

In [9]:
print(b.values())

dict_values(['x', 'y', 'z'])

In [10]:
b.get(3)

'x'

In [16]:
dic= {
    
      "muthu":"dhoni",
      "sankar":"koli",
      "sini":"dhoni",
      "viki":"koli"
}

In [17]:
print(dic.values())

dict_values(['dhoni', 'koli', 'dhoni', 'koli'])

In [33]:
mm={}
for keys,values in dic.items():
    if (values not in mm):
        mm[values] = [keys]
    else:
        mm[values].append(keys)        
    
print(mm)

{'dhoni': ['muthu', 'sini'], 'koli': ['sankar', 'viki']}

In [27]:
re={}
for key,value in dic.items():
    if (value not in re):
        re[value] = keys
    else:
        re[value] += keys
        
print(re)

{'dhoni': 'vikiviki', 'koli': 'vikiviki'}

In [26]:
print(re.keys())

dict_keys(['dhoni', 'koli'])

In [34]:
l = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat','mon']

In [42]:
r={}
d={}
for i in l:
    if(i not in r):
        r[i]=1
    else:
        r[i] +=1
for k,val in r.items():
    if(k=='mon' or k=='tue'):
        d[k]=val
print(r)
print(d)

{'sun': 1, 'mon': 2, 'tue': 1, 'wed': 1, 'thu': 1, 'fri': 1, 'sat': 1}
{'mon': 2, 'tue': 1}

In [73]:
a = {'sun':1, 'mon':2,'wed':1}
b = {'sun':1, 'mon':2,'wed':1}
m={}
for k,v in a.items():
    if(k not in m):
        m[k]=v
for k,v in b.items():
    if(k in m):
        m[k]=m[k]+v
print(m)

{'sun': 2, 'mon': 4, 'wed': 2}

In [59]:
print(m['mon'])

3

In [54]:
a = {'x': 1, 'y': 2, 'z': 3}
b = {'a': 4, 'b': 5, 'y': 6}
c = {'a': 4, 'b': 5, 'y': 6}

In [56]:
dict={}
for key,values in a.items():
    if(key,values not in dict):
        dict =[key,values] 
print(dict)

['z', 3]

In [8]:
for i in range(9):
    for j in range(i):
        print("*",end=" ")
    print(" ")
for i in range(9,0,-1):
    for j in range(0,i):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [24]:
for i in range(5):
    for j in range(i):
        print(j,end=" ")
    print(" ")
for i in range(5,0,-1):
    for j in range(i):
        print(j,end=" ")
    print(" ")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [20]:
for i in range(9,0,-1):
    for j in range(i):
        print("*",end=" ")
    print(" ")

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [37]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [57]:
a = {'x': 1, 'y': 2, 'z': 3}
b = {'a': 4, 'b': 5, 'y': 6}
c = {'a': 4, 'b': 5, 'y': 6}

In [127]:
dict={}
for key,values in a.items():
    if(key not in dict):
        dict[key] = values
for key,values in b.items():
    if(key  in dict):
        dict[key]=dict[key]+values
    else:
        dict[key]=values
        
for key,values in c.items():
    if(key  in dict):
        dict[key]= dict[key]+values
    else:
        dict[key]=values
print(dict)

{'x': 1, 'y': 14, 'z': 3, 'a': 8, 'b': 10}

In [51]:
# To find the whether it's prime number or not :-
a=int(input("enter the num : "))

cond=False
if(a<=0 or a==1):
    cond = True
for i in range(2,a):
    if(a%i==0):
        cond=True
        break
if cond:
    print("it is not a prime")
else:
    print("it is prime")

enter the num : 111
it is not a prime

In [52]:
print(111%2)

1

In [1]:
a = 10
b = 20
x = "Yes" if a<b else "No"
print(x)

Yes

In [6]:
from array import array
h=[1,2,3,4,5]
c = array(h)
print(type(c))

TypeError: array() argument 1 must be a unicode character, not list

In [79]:
import numpy as np

# Initializing the list
list = [1, 2, 3, 4, "h"]

# Printing the list
print("The list is : " + str(list))

res = np.array[(list)]

The list is : [1, 2, 3, 4, 'h']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [75]:
a,b,c=[int(i) for i in input("enter three values").split(",")]
print(a,b,c)

enter three values1,2,3
1 2 3

In [13]:
print("hi")
print("hello")

hi
hello

In [22]:
a=[1,2,3,4]
a.clear()

In [23]:
print(a)

[]

In [39]:
a = int(input())
b = int(input())
for i in range(1,b+1):
    if(i%3==0 or i%5==0) and i!=15:
        print(i)

1
20
3
5
6
9
10
12
18
20

In [54]:
no = int(input("Enter the Number :"))
cond = False
if(no<=1):
    cond = True
else:
    for i in range(2,no):
        if(no%i == 0):
            cond = True
            break
        else:
            cond = False
if cond:
    print("No")
else:
    print("Yes it's a prime Number")

Enter the Number :3
Yes it's a prime Number

In [52]:
no1 = int(input("Enter First Number : "))
no2 = int(input("Enter Second Number : "))
if(no1<no2):
    Num1 = no1
    Num2 = no2
else:
    Num1 = no2
    Num2 = no1
    
cond = False
prime_Numbers = []
for i in range(Num1,Num2):
    if(i<=1):
        continue
    else:
        for j in range(2,i):
            if(i%j == 0):
                break
        else:
            prime_Numbers.append(i)
rev=prime_Numbers[::-1]
print("cor",prime_Numbers)
print("rev :",rev)

Enter First Number : 1
Enter Second Number : 10
cor [2, 3, 5, 7]
rev : [7, 5, 3, 2]

In [71]:
a = {'x': 1, 'y': 2, 'z': 3}
b = {'a': 4, 'b': 5, 'y': 6}
c = {'a': 4, 'b': 5, 'y': 6}
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['x', 'y', 'z'])
dict_values([1, 2, 3])
dict_items([('x', 1), ('y', 2), ('z', 3)])

In [73]:
r = {}
for key,val in a.items():
    if(key not in r):
        r[key]= 1
    else:
        r[key]+=1
for key,val in b.items():
    if(key not in r):
        r[key]=1
    else:
        r[key]+=1
for key,val in c.items():
    if(key not in r):
        r[key]=1
    else:
        r[key]+=1
print(r)

{'x': 1, 'y': 3, 'z': 1, 'a': 2, 'b': 2}