In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="mydatabase"

)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000257CAD79ED0>

In [3]:
mycursor = mydb.cursor()
mycursor.execute("create database mydatabase")

DatabaseError: 1007 (HY000): Can't create database 'mydatabase'; database exists

In [4]:
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('classexe',)
('cons',)
('const',)
('customer',)
('d1',)
('d2',)
('d28',)
('department',)
('dept',)
('dist',)
('drope',)
('emp',)
('emp04',)
('emp07',)
('emp26',)
('emp4',)
('emp_table',)
('empo',)
('emptable',)
('exdb',)
('exe02',)
('exe1',)
('exercise',)
('exex',)
('expression',)
('information_schema',)
('ksd',)
('leftdb',)
('muthu',)
('muthu01',)
('mydatabase',)
('mysql',)
('newdata',)
('newdatadb',)
('orderdb',)
('performance_schema',)
('quer',)
('something',)
('sys',)
('tab1',)
('tab2',)
('table01',)
('table1',)

In [5]:
mycursor = mydb.cursor()
mycursor.execute("create table customers (name varchar(225),address varchar(225))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [6]:
mycursor.execute("show tables")
for x in mycursor:
    print(x)

('customers',)

In [7]:
mycursor.execute("alter table customers add column id int auto_increment primary key")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

In [10]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

In [11]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Peter', 'Lowstreet 4', 1)
('Amy', 'Apple st 652', 2)
('Hannah', 'Mountain 21', 3)
('Michael', 'Valley 345', 4)
('Sandy', 'Ocean blvd 2', 5)
('Betty', 'Green Grass 1', 6)
('Richard', 'Sky st 331', 7)
('Susan', 'One way 98', 8)
('Vicky', 'Yellow Garden 2', 9)
('Ben', 'Park Lane 38', 10)
('William', 'Central st 954', 11)
('Chuck', 'Main Road 989', 12)
('Viola', 'Sideway 1633', 13)