In [13]:
#first 10 even numbers
num=2
while (num<=20):
    print(num)
    num=num+2
    
    
for i in range(1,21):
    if (i%2==2):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [26]:
#first 10 odd numbers:-
num=1
while (num<20):
    print(num)
    num=num+2

1
3
5
7
9
11
13
15
17
19

In [28]:
#first 10 natural numbers
num=1
while (num<=10):
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10

In [30]:
#first 10 whole numbers
num=0
while (num<10):
    print(num)
    num=num+1

0
1
2
3
4
5
6
7
8
9

In [31]:
num=1
while (num<=10):
    print(num,"it's square is",num**2)
    num=num+1

1 it's square is 1
2 it's square is 4
3 it's square is 9
4 it's square is 16
5 it's square is 25
6 it's square is 36
7 it's square is 49
8 it's square is 64
9 it's square is 81
10 it's square is 100

In [40]:
num=10
while (num<=300):
    print(num,end=",")
    num=num+10

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,

In [15]:
num=105
while(num>=7):
    print(num,end=",")
    num=num-7

105,98,91,84,77,70,63,56,49,42,35,28,21,14,7,

num=10
while

In [44]:
num=10
while (num>=1):
    print(num,end=",")
    num=num-1

10,9,8,7,6,5,4,3,2,1,

In [52]:
num=10
sum1=0
while (num>=1):
    sum1=sum1+num
    num=num-1
    print(sum1,end=",")

10,19,27,34,40,45,49,52,54,55,

In [53]:
num=1
sum1=0
while(num<=10):
    sum1=sum1+num
    num=num+1
    print(sum1,end=",")

1,3,6,10,15,21,28,36,45,55,

In [61]:
num=2
sum1=1
while(num<=20):
    sum1=sum1+num
    num=num+2
    print(sum1,end=",")

3,7,13,21,31,43,57,73,91,111,

In [66]:
num=int(input("Enter the table no :"))
sum2=1
while (sum2<=20):
    print(num,"*",sum2,"=",sum2*num)
    sum2=sum2+1

Enter the table no :7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
7 * 13 = 91
7 * 14 = 98
7 * 15 = 105
7 * 16 = 112
7 * 17 = 119
7 * 18 = 126
7 * 19 = 133
7 * 20 = 140

In [17]:
in1=int(input("Enter no1 : "))
in2=int(input("Enter no2 : "))
if (in1>in2):
    while(in1>in2):
        if(in2%2==0):
            print(in2 , "im if")
        in2=in2+1
else:
    while(in1<in2):
        if(in1%2==0):
            print(in1 , "im else")
        in1=in1+1

Enter no1 : 45
Enter no2 : 12
12 im if
14 im if
16 im if
18 im if
20 im if
22 im if
24 im if
26 im if
28 im if
30 im if
32 im if
34 im if
36 im if
38 im if
40 im if
42 im if
44 im if

In [20]:
no=int(input("enter :"))
while (no%2!=0):
    print("The no", no , "is odd no")
    break
else:
    print(no , "it's even no")

enter :4
4 it's even no

In [22]:
num1=int(input("enter the number"))
if num1==0 or num1==1:
    print("it's not prime")
while (num1==2):
    print("it's prime number")
    break
while (num1>2):
    if(num1%2==0):
        print("it's prime number")
        break
    else:
        print("it's not prime")
        break

enter the number3
it's not prime

In [67]:
i=1
j=49
while(i<=49 and j>=1):
    print(i,"-- -",j)
    i=i+1
    j=j-1

1 -- - 49
2 -- - 48
3 -- - 47
4 -- - 46
5 -- - 45
6 -- - 44
7 -- - 43
8 -- - 42
9 -- - 41
10 -- - 40
11 -- - 39
12 -- - 38
13 -- - 37
14 -- - 36
15 -- - 35
16 -- - 34
17 -- - 33
18 -- - 32
19 -- - 31
20 -- - 30
21 -- - 29
22 -- - 28
23 -- - 27
24 -- - 26
25 -- - 25
26 -- - 24
27 -- - 23
28 -- - 22
29 -- - 21
30 -- - 20
31 -- - 19
32 -- - 18
33 -- - 17
34 -- - 16
35 -- - 15
36 -- - 14
37 -- - 13
38 -- - 12
39 -- - 11
40 -- - 10
41 -- - 9
42 -- - 8
43 -- - 7
44 -- - 6
45 -- - 5
46 -- - 4
47 -- - 3
48 -- - 2
49 -- - 1

In [36]:
a=[]
while(1):
    val=input("fr")
    if(val=="stop"):
        break
        a.append(val)
        print(a)

frgfd
frcjy
frjfyu
frstop

In [31]:
# prime number pending:-
a=int(input("Enter the number : "))
if(a==0 and a==1):
    print("It's not a prime number")
elif(a==2):
    print("It's a prime number")

else:
    print("It's not prime number")

Enter the number : 3
It's not prime number