In [4]:
a=10
b=20
a=input("enter the value ")

enter the value 100

In [10]:
print(a)

'100'

In [9]:
print(type(a))

"<class 'str'>"

In [6]:
a=input("enter the value of no1 :")

b=input("enter the value of no2 :")

enter the value of no1 :20
enter the value of no2 :25

In [7]:
print(int(a)+int(b))

45

In [5]:
name=input("enter the name")
place=input("enter the place")

enter the namemuthu
enter the placebangalore

In [9]:
print(name,place)

muthu bangalore

In [7]:
print("im {} learning {}".format("ram","python"))

im ram learning python

In [13]:
print("im {} learning {}".format("python","ram"))

im python learning ram

In [14]:
#operaters

print(10+10)

20

In [15]:
#bitwise operater
print(5%2)

1

In [16]:
print(10%2)

0

In [17]:
print(1000%10)

0

In [18]:
print(1%2)

1

In [19]:
#power 
print(2**2)

4

In [20]:
print(3**2)

9

In [21]:
print(5**3)

125

In [22]:
#assignment operater
a=10


#comparission operator
#to find equal to
a=10
b=20
c=10
print(a==b)

False

In [24]:
print(a==c)

True

In [25]:
#comparission operator
#to find not equalto

print(a!=b)

True

In [26]:
#to find not equal to
print(a!=c)

False

In [15]:
#comparission operator
#to find ( > or < or >= or <= )


#logical operators
#!) and
#!!) or
#!!!) not


#bitwise operator


#bitwise &,| operator 

print(10&6)

'2'

In [16]:
print(10|6)

'14'