In [4]:
#tuple:-

a=(10,20,40,30,1)
print(type(a))
print(len(a))
print(list(a))
print(tuple(a))

<class 'tuple'>
5
[10, 20, 40, 30, 1]
(10, 20, 40, 30, 1)

In [8]:
#slicing:-
a=(10,20,40,30,1)
print(a[1])
print(a[0:3])

20
(10, 20, 40)

In [12]:
#delete:-
a=(10,20,40,30,1)
del(a)
print(a)

NameError: name 'a' is not defined

In [1]:
# adding two tables (example="c") and  # adding values based on position (eample="d"):-
a=(10,20,40,30,1)
b=(10,20,30)
c=a+b
d=(a[2]+b[2])
print(d)
print(c)

70
(10, 20, 40, 30, 1, 10, 20, 30)

In [17]:
#unpacking (note:- also we can use the unpacking in list,set,dictionary):-
#unpacking using tuple:-
a=(10,20,30)
b,c,d=a
print(b,c,d)
print(b)
print(c)
print(d)
#unpacking using dictionary:-
d={"muthu":"mine",
  "raj":"brother"
  }
g,h=d
print(d)
print(g)
print(h)

10 20 30
10
20
30
{'muthu': 'mine', 'raj': 'brother'}
muthu
raj

In [12]:
#set:- we can't acces
#if we add some value in set,it'll be asign anywhere inside the flower brocket bcz it's unorder:-
s={10,20,1,5,7,11}
s.add(50)
print(s)

{1, 50, 20, 5, 7, 10, 11}

In [15]:
s={10,20,1,5,7,11}
s.add(67)
print(s)

{1, 67, 20, 5, 7, 10, 11}

In [16]:
s={10,20,1,5,7,11}
s.add(73)
print(s)

{1, 20, 5, 7, 73, 10, 11}

In [17]:
s={10,20,1,5,7,11}
s.add(80)
print(s)

{80, 1, 20, 5, 7, 10, 11}

In [20]:
a={10,1,1,55,7,10,10}
a=tuple(a)   #data type conversion:-
print(a)
print(type(a))
print(len(a))

(1, 10, 55, 7)
<class 'tuple'>
4

In [20]:
#update:-
#if we use update sydex it'll work like a union methon:-
x={10,20,1,5}
y={10,1,7,6,}
x.update(y)
print(x)

{1, 5, 6, 7, 10, 20}

In [21]:
#remove:- (it's common for all the data structures)
#it'll remove the value based on name:-
y={10,1,7,6,}
y.remove(10)
print(y)
l=[1,2,3,4,]
l.remove(3)
print(l)

{1, 6, 7}
[1, 2, 4]

In [22]:
y={10,1,7,6,}
y.remove(6)
print(y)

{1, 10, 7}

In [23]:
#remove:-
# in remove syndex ,if the value doesn't exist then the output will be error:-
y={10,1,7,6,}
y.remove(55)
print(y)

KeyError: 55

In [25]:
#discard (note: it's aslo a value removal syndex):-
#if the value doesn't exist in the variable , it'll work or just passes . just value is exist it'll remove based on name:-
y={10,1,7,6,}
y.discard(55)
print(y)

{1, 10, 6, 7}

In [27]:
#discard:-
y={10,1,7,6,}
y.discard(100)
print(y)

{1, 10, 6, 7}

In [28]:
#pop:- (note:the values are removed randomly in  set bcz it's unorder):-
#the values are romoved by positions:-
y={10,1,7,6,}
y.pop()
print(y)

{10, 6, 7}

In [32]:
#pop:-
y={10,7,6}
y.pop()
print(y)

{6, 7}

In [30]:
#pop:-
y={10,1,7,6}
y.pop()
print(y)

{10, 6, 7}

In [33]:
#clear:- (the items only romoved by the syndex , emty brocket will be exist in output):-
y={10,1,7,6}
y.clear()
print(y)

set()

In [35]:
#delete:-
y={10}
del(y)
print(y)

NameError: name 'y' is not defined

In [40]:
#union syndex:- (it's also work like update syndex):-
A={10,40,1,7,8,50}  
B={10,40,33,30,8}
C=A.union(B)
A.update(B)
print(C)
print(A)

{1, 33, 7, 40, 8, 10, 50, 30}
{1, 33, 7, 40, 8, 10, 50, 30}

In [41]:
#intersection:-
A={10,40,1,7,8,50}  
B={10,40,33,30,8}
C=A.intersection(B)
A.intersection_update(B)
print(C)
print(A)

{40, 8, 10}
{40, 8, 10}

In [43]:
#dictionary:-

d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
print(d)

{'name': 'raj', 'age': 24, 'location': 'bangalore', 1: 'good number', 'cars': ['benz', 'shift', 'audi']}

In [22]:
#slicing using dictionary:-
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
print(d["name"])
print(d[1])
print(len(d))
print(type(d))
print(d["cars"])

raj
good number
5
<class 'dict'>
['benz', 'shift', 'audi']

In [63]:
#replacing using dictionary:-
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d["name"]="ravi"
print(d)

{'name': 'ravi', 'age': 24, 'location': 'bangalore', 1: 'good number', 'cars': ['benz', 'shift', 'audi']}

In [53]:
#updating syndex using dictionary :-
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }

new_data={"company":"wipro",
          "salaary":"20k"
         }
d.update(new_data)
print(d)

{'name': 'raj', 'age': 24, 'location': 'bangalore', 1: 'good number', 'cars': ['benz', 'shift', 'audi'], 'company': 'wipro', 'salaary': '20k'}

In [24]:
#pop:- (note:pop will remove the first value in dictionary data structure ):-
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d.pop("name")

print(d)

{'age': 24, 'location': 'bangalore', 1: 'good number', 'cars': ['benz', 'shift', 'audi']}

In [27]:
#popitem:- (note:popitem will remove the last value in dictionary data structure ):-
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d.popitem()
print(d)
d.popitem()
print(d)

{'name': 'raj', 'age': 24, 'location': 'bangalore', 1: 'good number'}
{'name': 'raj', 'age': 24, 'location': 'bangalore'}

In [59]:
#popitem:- (note:popitem will remove the last value in dictionary data structure ):-
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d.popitem()
print(d)

{'name': 'raj', 'age': 24, 'location': 'bangalore', 1: 'good number'}

In [60]:
#clear:-
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
d.clear()
print(d)

{}

In [61]:
#delete:-
d={"name":"raj",
   "age":24,
   "location":"bangalore",
   1:"good number",
   "cars":["benz","shift","audi"]
   }
del(d)
print(d)

NameError: name 'd' is not defined

In [66]:
#nested dictionary:-
#slicing method using dictionary:-
myfamily={
    "child1" :{
    "name":"Emil",
     
    "year":2004},
    
    "child2":{
        "name":"tobias",
        "year":2007},
    
    "child3":{
        "name":"linus",
        "year":2011}
    }
print(myfamily["child1"])

{'name': 'Emil', 'year': 2004}

In [67]:
print(myfamily["child1"]["name"])

Emil

In [69]:
#replacing in dictionary:-
myfamily["child1"]["name"]="raju"
print(myfamily)

{'child1': {'name': 'raju', 'year': 2004}, 'child2': {'name': 'tobias', 'year': 2007}, 'child3': {'name': 'linus', 'year': 2011}}

In [70]:
#replacing in dictionary:-
myfamily["child3"]["year"]=2023
print(myfamily)

{'child1': {'name': 'raju', 'year': 2004}, 'child2': {'name': 'tobias', 'year': 2007}, 'child3': {'name': 'linus', 'year': 2023}}