In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(3,8):
    print(i)

3
4
5
6
7

In [3]:
#increment ;-
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [16]:
for i in range(4):
 if(i==3):
     break
 print(i)

0
1
2

In [10]:
for i in range(1,7):
     if(i==4):
        continue
     print(i)

1
2
3
5
6

In [21]:
for i in range(1,7):
    
    if(i==4):
       continue
    print(i)
    print(i)

1
1
2
2
3
3
5
5
6
6

In [12]:
for i in range(5):
    symbol=input("enter")
    if(symbol!="+"):
        break
    print(2+3)

enter+
5
enter-

In [14]:
s=["+","-","*","%"]
new=[]
for i in range(5):
    val=input("enter")
    if(val in "s"):
        continue
    new.append(val)
    print(new)

enter+
['+']
enter+
['+', '+']
enter+
['+', '+', '+']
enter[
['+', '+', '+', '[']

In [26]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [30]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [31]:
for i in range(1,10):
    print(i*2)
    print(i*i)

2
1
4
4
6
9
8
16
10
25
12
36
14
49
16
64
18
81

In [38]:
for i in range (2,20,2):
     print(i)

2
4
6
8
10
12
14
16
18

In [42]:
for i in range(1,10):
    print(i*2)

2
4
6
8
10
12
14
16
18

In [62]:
for i in range(1,11):
    print(val,"*",i,"=",val*i)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [57]:
val=int(input("enter"))
for val in range(1,10):
    print(2,"*",val,"=",2*val)

enter2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [60]:
val=int(input("enter"))
for i in range(1,10):
    print(val,"*",i,"=",i*val)

enter6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [76]:
for i in range(6):
    print("*" * i)

*
**
***
****
*****

In [83]:
for i in range(6):
    print(i * "*")

*
**
***
****

In [85]:
#ittrable:-
fruit=["apple","banana","kiwi","orange"]
colors=["red","green","blue"]
for i in fruit:
    print(i)
for i in "bangalore":
    print(i)

apple
banana
kiwi
orange
b
a
n
g
a
l
o
r
e

In [86]:
fruit=["apple","banana","kiwi","orange"]
colors=["red","green","blue"]
for i in fruit:
    for j in colors:
        print(j,i)

red apple
green apple
blue apple
red banana
green banana
blue banana
red kiwi
green kiwi
blue kiwi
red orange
green orange
blue orange

In [1]:
for i in range(1,10):
    if(i==3):
        break
    print(i)

1
2

In [2]:
for i in range(1,10):
    if(i==3):
        continue
    print(i)

1
2
4
5
6
7
8
9

In [6]:
for i in range(6,0,-1):
    print(i * "*")

******
*****
****
***
**
*

In [7]:
for i in range(5):
    print(5*"*")

*****
*****
*****
*****
*****

In [15]:
#nested loop:-  (the inner loop will executed one time for each iteration of outer loop)
spo=["cric","foot","bas"]
rul=[11,10,7]
for i in spo:
    for j in rul:
     print(i,j)

cric
foot
bas

In [21]:
a=[10,20,30,40,50]
count=0
for a in a:
    count=count+1
print(count)

5

In [26]:
a=[10,20,40,80,11]
maxi=a[0]
for i in a:
    if(i>maxi):
        maxi=i
print(maxi)

80

In [27]:
a=[40,70,10,2,1]
maxi=a[0]
for i in a:
    if(i>maxi):
        maxi=i
print(maxi)

70

In [36]:
a=[40,70,10,2,1]
sum1=0
for i in a:
    sum1=sum1+i
    print(sum1)

40
110
120
122
123

In [37]:
a=[40,70,10,2,1]
sum1=0
for i in a:
    sum1=sum1+i
print(sum1)

123

In [46]:
x=[1,5,2,8,55,70,12,13]

for i in x:
    if(i%2==0):
        print(i ," is even")
    else:
        print(i,"is odd")

1 is odd
5 is odd
2  is even
8  is even
55 is odd
70  is even
12  is even
13 is odd

In [47]:
x=[1,5,2,8,55,70,12,13]
mult=1
for i in x:
    mult=mult*i
print(mult)

48048000