In [66]:
#lambda functions:-

x=lambda a,b:a+b 
print(x(2,3))

l=lambda a,s,d,f,g:a+g
print(l(1,2,3,4,5))

l=lambda a,s,d,f,g:g*d
print(l(1,2,3,4,5))

5
6
15

In [2]:
def calc(a,b):
    print(a)
    print(b)

In [3]:
calc(2,3)
calc(6,7)

2
3
6
7

In [9]:
#class and objects:-

class person:
    x=5
    y=20
obj1=person()
obj2=person()
print(obj1.x)
print(obj2.y)
print(obj1.x,obj2.y)

5
20
5 20

In [12]:
obj3=person()
print(obj1.x,obj2.y,obj3.x,obj3.y)

5 20 5 20

In [2]:
class person:
    x=5
    y=20
    def total(self):
        print(self.x+self.y)
        return "hi"
obj1=person()
print(obj1.total())

25
hi

In [5]:
class person:
    def __init__(self,x,y):
        self.xx=x
        self.yy=y
    
    def total(self):
        return "yeah your output is"
        print(self.xx+self.yy)
        

        
p1=person(30,40)
print(p1.xx,p1.yy)
print(p1.total())

30 40
70
yeah your output is

In [2]:
class person:
    def __init__(self,x,y,mark):
        self.xx=x
        self.yy=y
        self.mark1=mark
    
    def total(self):
        print(self.xx+self.yy)
    
    def result(self):
        if (self.mark1>85):
            print("pass")
        else:
            print("fail")
            
p1=person(30,40,86)
print(p1.xx,p1.yy,p1.mark1)
p1.total()
p1.result()

30 40 86
70
pass

In [6]:
class person:
    def __init__(self,x,y,mark):
        self.xx=x
        self.yy=y
        self.mark1=mark
    
    def total(self):
        print(self.xx+self.yy)
    
    def result(self):
        if (self.mark1>85):
             return "pass"
        else:
            print("fail")
            
p1=person(30,40,98)
p2=person(25,25,90)
print(p1.xx,p1.yy,p1.mark1)
p1.total()
val=p1.result()

print(val)
print(p2.xx,p2.yy,p2.mark1)
p2.total()
p2.result()

30 40 98
70
pass
25 25 90
50

'pass'

In [16]:
class person:
    def __init__(self,x,y,mark):
        self.xx=x
        self.yy=y
        self.mark1=mark
    
    def total(self):
        print(self.xx+self.yy)
        
    def car(self):
        print("hyundai")
    
    def result(self,name):
        if (self.mark1>85):
            print(name,"result")
            return "successfully pass"
        else:
            print(name,"result")
            print("fail")
            
p1=person(30,40,98)
print(p1.xx,p1.yy,p1.mark1)
p1.total()
val=p1.result("muthu")
print(val)

30 40 98
70
muthu result
successfully pass

In [18]:
class per:
    def __init__(self,name,age,team):
        self.name1=name
        self.age1=age
        self.team=team
        
p1=per("dhoni",42,"csk")
print(p1.name1)

dhoni

In [14]:
def rain():
    pass

In [29]:
for i in range(1,10):
     print(i)
     if (i==3):
        break

1
2
3

In [27]:
# Inheritance :- (Importing parenst or base class into the child or derived class)

class person1(person):
    p1=person1(10,20,86)
    p1.total()

30

In [28]:
class student(person):
    def __init__(self,x,y,mark,loc):
        super().__init__(x,y,mark)
        self.place=loc
        
    def location(self):
        print("my location is {}".format(self.place))
        
p1=student(10,20,90,"chennai")
p1.location()

my location is chennai

In [39]:
class student(person):
    def __init__(self,x,y,mark,loc,age):
        super().__init__(x,y,mark)
        self.place=loc
        self.ageof=age
        
    def location(self):
        print("my location is {}".format(self.place))
        
    def age(self):
        print("i'm {}".format(self.ageof))
        
    def car(self):
        print("FORD")
        
s1=student(10,20,89,"chennai",20.2) 
s1.age()
s1.car()
s1.location()
s1.yy

i'm 20.2
FORD
my location is chennai

20

In [43]:
class per:
    def __init__(self,name,age,team):
        self.name1=name
        self.age1=age
        self.team=team
        
p1=per("dhoni",42,"csk")


class stu(per):
    def __init__(self,name,age,team,loc):
        super().__init__(name,age,team)
        self.place=loc
        
    def location(self):
        print("i am from {}".format(self.place))

        
p1=stu("dhoni",42,"csk","chennai")
print(p1.name1)
p1.location()

dhoni
i am from chennai

In [55]:
class college:
    def __init__(self,loc,name,dis):
        self.loc1=loc
        self.coname=name
        self.dis1=dis
        
co1=college("supramaniyapuram","Renganayagi Varatharaj College Of Engineering","20 - kilometers")
print(co1.dis1)
print(co1.coname)
print(co1.loc1)

20 - kilometers
Renganayagi Varatharaj College Of Engineering
supramaniyapuram