In [1]:
import numpy as np

arr=np.array([1,2,3,4,5])
print(arr*2)

[ 2  4  6  8 10]

In [3]:
list1=[1,2,3,4,5]
b=[i*2 for i in list1]
print(b)

[2, 4, 6, 8, 10]

In [4]:
print(type(arr))

<class 'numpy.ndarray'>

In [5]:
arr=np.array([1,2,3,4,5,"str"])
print(arr)

['1' '2' '3' '4' '5' 'str']

In [6]:
arr=np.array([1,2,3,4,5,"str",8.8])
print(arr)

['1' '2' '3' '4' '5' 'str' '8.8']

In [8]:
arr=np.array([1,2,3,4,5,8.8,True])
print(arr)

[1.  2.  3.  4.  5.  8.8 1. ]

In [9]:
arr=np.array([1,2,3,4,5,True])
print(arr)

[1 2 3 4 5 1]

In [10]:
arr=np.array([1,2,3,4,5,"str",8.8,True])
print(arr)

['1' '2' '3' '4' '5' 'str' '8.8' 'True']

In [11]:
# making matrix in array
arr=np.array([[1,2,3],[10,4,29]])
print(arr)

[[ 1  2  3]
 [10  4 29]]

In [13]:
#slicing in array:-
print(arr[0][2])
print(arr[1][2])

3
29

In [15]:
print(arr.ndim)

2

In [21]:
print(arr.dtype)
print(arr.shape)
print(arr.reshape(-1))

int32
(2, 3)
[ 1  2  3 10  4 29]

In [19]:
print(arr.reshape(3,2))

[[ 1  2]
 [ 3 10]
 [ 4 29]]

In [34]:
mydataset = {
    "car": ["bmw","volvo","audi","benz","kia","ford"],
    "passings":[3,5,6,6,8,8],
    "model" : [1990,3000,2887,7774,8859,7568]
}
print(mydataset,index=["car1","car2","car3","car4","car5","car6"])

{'car': ['bmw', 'volvo', 'audi', 'benz', 'kia', 'ford'], 'passings': [3, 5, 6, 6, 8, 8], 'model': [1990, 3000, 2887, 7774, 8859, 7568]}

In [12]:
my = {
    "car" : ["ford","kia","audi","benz","bmw"],
    "no" : [1,2,3,4,5],
    "orgin" : [1999,1998,1997,1996,1995]
}

import pandas as pd
df=pd.DataFrame(my,index=["car1","car2","car3","car4","car5"])
print(df)

       car  no  orgin
car1  ford   1   1999
car2   kia   2   1998
car3  audi   3   1997
car4  benz   4   1996
car5   bmw   5   1995

In [16]:
print(df.loc["car1":"car4"])
print(df.loc["car1"])

SyntaxError: invalid syntax (1458958505.py, line 1)

SyntaxError: invalid syntax (2551980546.py, line 1)