In [1]:
cash= 5
print(cash)

5

In [2]:
ca&h= 5
print(ca$h)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (940413450.py, line 1)

In [3]:
122 = 123
print(122)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (449335577.py, line 1)

In [4]:
__muthu = "name"
print(__muthu)

name

In [5]:
a=1234567
b=bin(a)
print(b)

0b100101101011010000111

In [7]:
c=oct(a)
print(c)

0o4553207

In [8]:
d=hex(a)
print(d)

0x12d687

In [11]:
a=123+1234j
print(a.real)
print(a.imag)

123.0
1234.0

In [12]:
a="""this is " muthu """
print(a)

this is " muthu

In [13]:
b="""this "python" dfgh """
print(b)

this "python" dfgh

In [16]:
a=212345.234
print(complex(a))

(212345.234+0j)

In [24]:
a=[12,34,5,7,6,43,34]
b=bytes(a)
print(type(b))
print(b[0])
for i in a:
    print(i)

<class 'bytes'>
12
12
34
5
7
6
43
34

In [25]:
a={}
a[0]="muthu"
a[1]="raj"
print(a)

{0: 'muthu', 1: 'raj'}

In [42]:
s="muthurg \v bdiheif"
print(s)

muthurg  bdiheif

In [44]:
print(10&6)

2

In [46]:
print(bin(10))

0b1010

In [49]:
print(10^12)

6

In [54]:
print(~10)

-11

In [69]:
print(~12)

-13

In [67]:
print(bin(12))

0b1100

In [68]:
a=0b0011
print(int(a))

3

In [72]:
print((2**3) + (2**5))

40

In [73]:
a+=10
print(a)

13

In [77]:
a=10
a=+10
print(a)

10

In [81]:
a=10
a=10
print(a)

100

In [98]:
a=12345
b=12345
x="TURE" if a<b else "FALSE"
print(x)
print(b in  a)

FALSE

TypeError: argument of type 'int' is not iterable

In [103]:
a=["muthu", "raj"]
b="muthu"
print(b not in a)

False

In [106]:
import math
print(math.sqrt(10))
print(math.pi)

3.1622776601683795
3.141592653589793

In [113]:
a,b,c=[int(x)for x in input("enter 2 num").split(",")]
print(a+b)

enter 2 num3,6,5
9

In [117]:
a,s,d=[int(x) for x in input("enter three numbers").split(",")]
print(a,s,d)

enter three numbers12,543,345
12 543 345

x=input(12*234%234+23)
print(x)

In [128]:
# x=(input("enter"))
# print(x)z

enter2345+234
2345+234

In [134]:
print("muthu \n kumar")
print("muthu \t kumar")
print("muthu"*10)

muthu
 kumar
muthu 	 kumar
muthumuthumuthumuthumuthumuthumuthumuthumuthumuthu

In [2]:
a=123+345j
print(a.real)
print(a.imag)

123.0
345.0

In [3]:
a=1
b="muthu"
c='muthu'
d=""" ertyui
ertghjk
fgh
dfghjk
fgh"""

print(d)

 ertyui
ertghjk
fgh
dfghjk
fgh

In [4]:
a="muthu alphin"

print(a)

muthu alphin

In [15]:
print(a[-5])

l

In [9]:
print(a[1:4])

uth

In [24]:
a=20
print(float(a))
print(str(a))
print(bool(a))

20.0
20
True

In [27]:
a=''
print(bool(a))

False

In [35]:
print(~11)

-12

In [49]:
from math import sqrt

print(math.sqrt(5))

import math

2.23606797749979

In [45]:
a="muthu \ raj "
print(a)

muthu '' raj

In [62]:
def myfuncn():
    b=10
    print(a)
myfuncn()
a=123
print(b)
print(a)

123
123
123

In [63]:
def alphin():
    global a
    a=10
alphin()
print(a)

10

In [73]:
import random
print(random,random range(1,20))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1071745303.py, line 2)

In [75]:
print(5)

5

In [77]:
a="muthu,raj alphin"
print(a.split(","))

['muthu', 'raj alphin']

In [83]:
a=12
a1=123
tx="im {} dfghj {}".format(a,a1)
print(tx)

im 12 dfghj 123

In [81]:
a="im {}".format(10)
print(a)

im 10

In [1]:
a=['muthu']
print(type(a))

<class 'list'>

In [3]:
b=('muthu',)
print(type(b))

<class 'tuple'>

In [9]:
# im exist my code here

print("my _code")

my _code

In [13]:
a="muthu"
print(a)
print("a")
muthu="raj"
print(muthu)

muthu
a
raj

In [32]:
a="muthu alphin"

print(a.split('n'))

['muthu alphi', '']

In [25]:
a=["muthu","alphin"]

print(a.replace(u,p))

AttributeError: 'list' object has no attribute 'replace'

In [34]:
a=24
print("my age is {}".format(234))

my age is 234

In [41]:
a = 3
b = 567
c = 49.95
myorder = "I want {} pieces of item {} for {} dollars.".format(a,b,123)
print(myorder)

I want 3 pieces of item 567 for 123 dollars.

In [53]:
a=2
b=3
print(a//b)

0

In [58]:
a="muthu"
b="u"
print(b in a)

True

In [61]:
a = ["apple", "banana", "cherry"]
a[1] = "blackcurrant"
print(a)

['apple', 'blackcurrant', 'cherry']

In [67]:
a=[1,2,3,4,5,6]

del a
print(a)

NameError: name 'a' is not defined

In [69]:
a = ["apple", "banana", "cherry"]
b = a
print(b)

['apple', 'banana', 'cherry']

In [70]:
b[1]="dfghj"
print(b)

['apple', 'dfghj', 'cherry']

In [71]:
print(a)

['apple', 'dfghj', 'cherry']

In [72]:
b=a.copy()
print(b)

['apple', 'dfghj', 'cherry']

In [73]:
b[1]="banana"
print(b)

['apple', 'banana', 'cherry']

In [74]:
print(a)

['apple', 'dfghj', 'cherry']

In [79]:
a=[1,2,3,4]
b=[5,6,7,8]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [80]:
a.append(b)
print(a)

[1, 2, 3, 4, [5, 6, 7, 8]]

[1, 2, 3, 4, [5, 6, 7, 8, 9], 5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [84]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list2.index(list1)

ValueError: ['a', 'b', 'c'] is not in list

In [8]:
t=("muthu" ,"ghfjd")
d =("hj",)
print(t+d)

('muthu', 'ghfjd', 'hj')

In [12]:
del t
print(t)

NameError: name 't' is not defined

In [27]:
a = ("apple", "banana", "cherry")
print(count(a))

NameError: name 'count' is not defined

In [66]:
a={1,2,3,4,5,6}
b={2,3,4,2,8}
c={1,2,3,4,5,6,7,8,9,2,3,8,90}

z=a.symmetric_difference(b)
print(z)

{1, 5, 6, 8}

In [68]:
a = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(a["year"])

KeyError: 1964